.vscode/**
.vscode-test/**
src/**
server/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
!server/out/**/*.js
node_modules/**
server/node_modules/**
**/.DS_Store
**/*.log
**/*.tsbuildinfo
.nyc_output/**
coverage/**
**/.github/**
**/.vscode/**
**/test/**
**/*.test.js
**/*.test.ts
.editorconfig
.gitattributes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.vsix