<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DataProvider Rules" Description="Comprehensive code analysis rules for DataProvider projects" ToolsVersion="17.0">
    <IncludeAll Action="Error" />
    <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
        <Rule Id="CA1707" Action="None" />
    </Rules>
</RuleSet>