@inherits LayoutComponentBase

<div class="page">
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="lql-icon.png" alt="LQL Logo">
                    <span class="logo-text">LQL</span>
                </div>
                <nav>
                    <ul>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#examples">Examples</a></li>
                        <li><a href="#playground">Playground</a></li>
                        <li><a href="https://github.com/MelbourneDeveloper/DataProvider" target="_blank">GitHub</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        @Body
    </main>
</div>